@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
}
@font-face {
  font-family: 'Road Rage';
  src: url('/RoadRage-Regular.ttf') format('truetype'); /* Use .otf if needed */
  font-weight: normal;
  font-style: normal;
}

.font-road-rage {
  font-family: 'Road Rage', sans-serif;
}
@layer utilities {
  @keyframes wobble {
    0% { transform: translateX(0); }
    15% { transform: translateX(-8px); }
    30% { transform: translateX(8px); }
    45% { transform: translateX(-5px); }
    60% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }

  .animate-wobble {
    animation: wobble 0.5s ease-in-out;
  }
}

